[Unit]
Description=star_pushersvr
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
Environment="LD_LIBRARY_PATH=/usr/local/comtom/starplatform_3rdlibs"
ExecStart=/usr/local/comtom/star_pushersvr/star_pushersvr -c /usr/local/comtom/star_pushersvr/star_pushersvr.json
Restart=always
RestartSec=10
KillMode=process
LimitNOFILE=1024000
StandardOutput=null

[Install]
WantedBy=multi-user.target

